.message {
  display: flex;
}

.message p {
  padding: 12px 18px;
  border-radius: 20px; 
  line-height: 1.4;
  max-width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  margin: 0;
}

/* USER Message Styles */
.user-message {
  justify-content: flex-end;
  margin-left: auto;
}

.user-message p {
  background-color: #4c52f5; /* Primary Blue for user */
  color: white;
  border-top-right-radius: 8px;
}

/* BOT Message Styles */
.bot-message {
  justify-content: flex-start;
  margin-right: auto;
}

.bot-message p {
  background-color: #4a5165; /* Dark gray for bot */
  color: #d1d5db; /* Light gray text */
  border-top-left-radius: 8px;
}